@{
    ViewData["Title"] = "Available Catalog";
}

<h3>Catalog here</h3>

<div id="catalog">

</div>

@section Styles {
<link href="/css/catalog.css" rel="stylesheet">
}

@section Scripts {
    <script src ="/js/catalog.js"></script>
}